# ignore all files that were generated for model training
/common/*.npy
/mlops/*.npy
*train.npy
y*.npy

.env

temp*

leaderboard_data.csv
merged_data.csv
race_course_data.csv
rider_data.csv
rider_season_data.csv

*.log

__pycache__

mlruns/

common/app-frontend

*.ipynb