[Unit]
Description=Git Webhook Server
After=network.target

[Service]
Type=simple
User=bsc
WorkingDirectory=/home/bsc/MLOps_diploma_app/common
Environment=PYTHONUNBUFFERED=1
Environment=PYENV_ROOT=/home/bsc/.pyenv
Environment=PATH=/home/bsc/.pyenv/versions/mlflow-env/bin:${PATH}
ExecStart=/home/bsc/.pyenv/versions/mlflow-env/bin/python webhook_server.py
Restart=always
RestartSec=10
StandardOutput=append:/home/bsc/MLOps_diploma_app/common/webhook.log
StandardError=append:/home/bsc/MLOps_diploma_app/common/webhook.error.log

[Install]
WantedBy=multi-user.target